img {width: 100%; object-fit: cover;}

body {
    margin: 10px;
}

h1{ border: 2px solid #000000; background: #EEE; padding: 5px; }



.block__element {
    display: block;
    margin-top: 10px;
    background-color: #abc4fc;
    border: 3px solid #171c42;
    width: 50%;
}


