*{padding: 0; margin: 0; box-sizing: border-box;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn1 {
    margin-top: 10px;
}

.padd-40 {
    padding: 40px;
}

.bg-red {
    background-color: red;
}

.border {
    border: 2px solid black;
}

/*  - Añadir padding:40px al div
    - Añadir background rojo al div
    - Añadir borde 2px solid black al div
    - Cambiar el atributo 'title' de la imagen por "foto random" 
    - Definir display: none para la imagen