*{padding: 0; margin: 0; box-sizing: border-box;}

.square {
    display: inline-block;
    margin: 10px;
}

.square__shape {
    width: 200px;
    height: 200px;
    
}

.square__shape--red {
    background: #df1b1b;
    padding-top: 10px;
    padding-left: 10px;
}

.square__shape--yellow {
    background: #f6e120;
}

.square__shape--green {
    background: #5cbd17;
    position: relative;
    padding-top: 15px;
    padding-left: 25px;
}

.square__shape--blue {
    background: #47aac7;
}

.square__shape--indigo {
    background: #351bdf;
}

.square__shape--violet {
    background: #731bdf;
}

.square__shape--pink {
    background: #e83ea1;
}

.square__shape--grey {
    background: #5b5b5b;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square__shape--rounded {
    border-radius: 30px;
}

.square__small-item {
    width: 50px;
    height: 50px;
    background: #f6e120;
}

.square__small-item--rounded {
    border-radius: 10px;
    position: absolute;
}