*{padding: 0; margin: 0; box-sizing: border-box;}


body {
    background-color: #000000;
}

.timer__slots {
    display: flex;
}

span {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    height: 200px;
    flex-basis: 200px;
    border: 2px solid #FFFFFF;
    display: inline-block;
}
